
.twCard-Div {


 width: 100%;
 height: 100%;
  background: #16181C;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  padding-top: 0;
  
}
.twCard-Div a {
  text-decoration: none;
  color: #3E9CF0;
  font-size: 12px;
  
}
.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    margin: 5px;
  }
  
  .tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 10px
  }
  
  .tw-followCard-info {
    display: flex;
    flex-direction: column;
  }
  
  .tw-followCard-infoUserName {
    opacity: .6;
  }
  
  .tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
  }
  
  .tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
  }
  
  .tw-followCard-button:hover {
    opacity: .8;
  }
  
  .tw-followCard-text {
    display: block;
  }
  
  .tw-followCard-button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
  }
  
  .tw-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
  }
  
  .tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
  }
  
  .tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
  }
  
  .tw-followCard-stopFollow {
    display: none;
  }


  /* -----------------SPINNER----------------------- */

  .container{ 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .spinner{
    font-size: 2px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255,255,255,.2);
    border-right: 1.1em solid rgba(255,255,255,.2);
    border-bottom: 1.1em solid rgba(255,255,255,.2);
    border-left: 1.1em solid #fff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  
  .spinner{
    border-radius: 50%;
    width: 10em;
    height: 10em; 
  }
  
  @Keyframes load8{
    0%{
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100%{
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }